@media (max-width:1550px) {

        .intro_bg{
            height: 317.7px;
           width: 50%;
        }
    
        .intro-photo{
        height: 500px;
        }
        .intro_right{
            width: 50%;
            margin-top: 80px;
        }
}